/*
Guilherme Farias
Version: 3
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans Light', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #777;
	background-image: url('images/bg.png');
}
a {
	text-decoration: none;
	color: #62BB01;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-top: 20px;
	line-height: 20px;
}
strong {
	font-weight: 800;
}
li {
	list-style: none;
}
h1 {
	font-size: 100px; color: #fff; text-shadow: 0 0 5px #222;
}
h2 {
	font-size: 50px; border-bottom: 2px solid #ccc; color: #413F38;
}
h2, h1 {
	display: block;
	font-weight: 100;
	padding: 5px 10px;
	border-radius: 3px;
	text-align: center;
}
.inner { 
	width: 960px;
	margin: -100px auto 0;
	height: 100%;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
	border-radius: 10px;
}
section {
	height: 800px;
	padding: 50px;
	border-bottom: 5px solid #eee;
}

.clearfix {
	clear: both;
}
.leftbar { 
	position: fixed;
	z-index: 1000;
	top: 20%;
	left: 0;
}
.leftbar li a {
	color: #fff;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;	
	padding: 17px 0px 17px 60px;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 0 5px 0.1px rgba(0,0,0,0.5);
	font-weight: 100;
	width: 0px;
	overflow: hidden;
	height: 20px;
}
.leftbar li a.active {
	padding: 17px 0px 17px 65px;
	width: 110px;
}
li a.about {
	background: url('images/ico_me.png') no-repeat 5px 3px rgba(0,0,0,0.5);
}
li a.freelance {
	background: url('images/ico_dev.png') no-repeat 5px 3px rgba(0,0,0,0.5);
}
li a.portfolio {
	background: url('images/ico_p.png') no-repeat 5px 3px rgba(0,0,0,0.5);
}
li a.host {
	background: url('images/ico_host.png') no-repeat 5px 3px rgba(0,0,0,0.5);
}
li a.contato {
	background: url('images/ico_c.png') no-repeat 5px 3px rgba(0,0,0,0.5);
}

#top {
	width: 100%;
	height: 200px;
	padding: 50px 0 120px 0;
	background: url('images/bg2.png') #62BB01;
	box-shadow: inset 0 10px 20px 10px rgba(0,0,0,0.2);
}
#top h2 {
	border: none;
	color: #fff;
	text-shadow: 0 0 5px #222;
}
section.about {
	height: 400px;
	border-radius: 10px 10px 0 0;
	background: #f8f8f8 url(images/me.jpg) no-repeat;
}
section.about h2.about {
	border: none; display: block; margin: 0 0 50px 0; font-size: 35px; color: #fff; text-shadow: 0 0 5px #555;
}
section.about p {
	width: 510px;
	float: right;
}
section.about .social {
	margin: 100px 0 0 460px;
}
section.about .social li {
	width: 64px;
	height: 64px;
	float: left;
	margin-left: 10px;
	opacity: 0.5;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
section.about .social li:hover {
	opacity: 1;
}
section.about .social li a {
	width: 60px;
	height: 60px;
	display: block;
}
section.about .social li.facebook {
	background-image: url(images/facebook.png);
}
section.about .social li.twitter {
	background-image: url(images/twitter.png);
}
section.about .social li.github {
	background-image: url(images/github.png);
}
section.about .social li.linkedin {
	background-image: url(images/linkedin.png);
}
section.about .agenda {
	width: 550px;
	height: 200px;
	margin: 80px 0 0 350px;
	background: url(images/img-logo-feecbr.png) 320px 60px no-repeat;
}
section.about .agenda strong {
	font-weight: 100;
	color: #000;
	text-shadow: 0 0 1px #000;
}
#freelance {
	background-color: #fff;
}
#freelance strong {
	font-size: 24px;
	font-weight: 100;
	text-shadow: 0px 0px 2px #aaa;
}
#portfolio {
	background-color: #f8f8f8;
}
#host {
	background-color: #fff;
}
#host p {
	width: 800px;
	padding: 0px 30px;
	text-align: justify;
	margin-right: 100px;
}
#host .planos {
	background-color: #efefef;
	border-radius: 5px;
	margin: 50px 8px 0;
	float: left;
}
#host .planos th { 
	font-weight: 100;
}
#host .planos tr:first-of-type {
	border: none;
	background-color: #62BB01;
	border-radius: 5px 5px 0 0;
	color: #fff;
}
#host .planos tr {
	width: 250px;
	padding: 5px 10px;
	display: block;
	border-top: 1px solid #fff;
}
#contato {
	background-color: #f8f8f8;
	border-radius: 0 0 10px 10px;
	height: 650px;
}
#contato .social {
	width: 380px;
	margin: 50px 0 0 0;
	float: left;
}
#contato .emailform {
	width: 425px;
	margin: 50px 0 0 0;
	float: right;
}
#contato li {
	margin-bottom: 5px;
}
#contato label {
	width: 120px;
	float: left;
	font-size: 20px;
}
#contato input, #contato textarea {
	width: 290px;
	height: 26px;
	border: 1px solid #ccc;
	color: #777;
	font-family: 'Open Sans Light', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 0 5px;
}
#contato textarea {
	height: 150px;
	resize: none;
}
#contato input:focus, #contato textarea:focus {
	box-shadow: inset 2px 2px 2px 0.1px #eee;
	outline: none;
}
#contato .submit {
	width: 100px;
	float: right;
	margin-right: 3px;
}
footer {
	width: 100%;
	height: 200px;
	background: url('images/bgfooter.png');
	margin-top: -150px;
	z-index: -50;
	position: absolute;
}
/*----- Slide -----*/
.slides_container {
	width: 840px;
	margin: 100px auto 20px;
	box-shadow: 0 0 5px 1px #888;
}
.slides_container div {
	width:840px;
	height: 300px;
	display:block;
	background-color: #fff;
	overflow: hidden;
}
img.portfolio {
	width: 550px;
	height: 300px;
	float: left;
	overflow: hidden;
}
h3.portfolio {
	display: inline-block;
	width: 270px;
	padding: 10px 10px 0 10px;
	font-weight: 100;
	font-size: 26px;
}
p.portfolio {
	width: 270px;
	padding: 0 10px;
	display: inline-block;
}
.pagination {
	text-align: center;
}
.pagination li {
	display: inline-block;
	margin: 2px;
}
.pagination li.current a {
	background-color: #888;
}
.pagination li a {
	border-radius: 5px;
	color: #fff;
	display: block;
	padding: 5px 10px;
	background-color: #ccc;
	text-decoration: none;
}
.next {
	width: 32px;
	height: 32px;
	float: right;
	background: url('images/next.png');
	margin-right: 10px;
	color: #fff;
}
.prev {
	width: 32px;
	height: 32px;
	float: left;
	background: url('images/prev.png');
	margin-left: 10px;
	color: #fff;
}
/*----- end Slide -----*/
@font-face {
	font-family:"Open Sans Light";
	src:
	url("font/OpenSans-Light.eot?") format("eot"),
	url("font/OpenSans-Light.woff") format("woff"),
	url("font/OpenSans-Light.ttf") format("truetype"),
	url("font/OpenSans-Light.svg#OpenSans-Light") format("svg");
}