* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family:"Roboto Light";
	src: url("../font/Roboto-Light.ttf");
}

body {
	font-size: 18px;
	line-height: 26px;
	font-family: 'Roboto Light', helvetica, arial, sans-serif
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding: 8px 0;
}

section {
	padding: 50px 0;
}

.inner {
	width: 960px;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.section-title {
	font-size: 50px;
	line-height: 70px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 20px;
}

.mobile-dblock {
	display: none;
}

@media (max-width: 960px) {
	.inner {
		width: 90%;
	}

	.section-title {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.mobile-dnone  {
		display: none;
	}

	.mobile-dblock {
		display: block;
	}
}

/*----- BANNER -----*/

.banner {
	padding: 0;
	background-color: #000;
}

.banner-info {
	color: #fff;
	z-index: 5;
	position: absolute;
	text-align: center;
	font-family: 'Passion One', cursive;
	width: 680px;
	height: 134px;
	overflow: hidden;
	left: 50%;
	top: 50%;
	margin-left: -340px;
	margin-top: -70px;
	text-shadow: 0 0 10px #000;
}

.banner-name {
	font-size: 90px;
	line-height: 94px;
	font-weight: normal;
}

.banner-roles {
	font-size: 34px;
	line-height: 40px;
	font-weight: normal;
}

.banners {
	width: 100%;
	position: relative;
}


.banner-shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
}

.banner-img {
	width: 100%;
	float: left;
	height: auto;
}

.banner-img-mobile {
	display: none;
}

@media (max-width: 960px) {
	.banner-info {
		width: 100%;
		padding: 20px;
		margin: 0 auto;
		height: auto;
		left: 0;
		top: 50px;
		margin-left: 0;
		margin-top: 0;
	}

	.banner-name {
		font-size: 80px;
		line-height: 80px;
		margin-bottom: 20px;
	}

	.banner-roles {
		font-size: 36px;
		line-height: 36px;
	}

	.banner-img {
		display: none;
	}

	.banner-img-mobile {
		width: 100%;
		height: 500px;
		display: block;
		float: left;
		background-size: cover;
		background-image: url(../img/site-header-mobile.png);
	}
}

/*----- INFO -----*/

.info {
	padding-top: 0;
	position: relative;
	text-align: justify;
	border-top: 10px solid #cfcfcf;
	box-shadow: 0 -6px 5px 1px rgba(0, 0, 0, 0.6);
}

.info-avatar {
	width: 220px;
	height: 220px;
	position: relative;
	margin: -100px auto 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/profile.png);
}

.info-role {
	text-align: center;
	font-weight: normal;
	margin-bottom: 20px;
}

.social-icons {
	width: 184px;
	height: 36px;
	margin: 0 auto 10px;
}

.social-icon {
	width: 36px;
	height: 36px;
	float: left;
	display: block;
	margin: 0 5px;
	opacity: 0.5;
	background-size: contain;
}

.social-icon:hover {
	opacity: 1;
}

.social-icon.facebook {
	background-image: url(../img/icon-fb.png);
}

.social-icon.twitter {
	background-image: url(../img/icon-twitter.png);
}

.social-icon.linkedin {
	background-image: url(../img/icon-linkedin.png);
}

.social-icon.github {
	background-image: url(../img/icon-github.png);
}

@media (max-width: 960px) {
	.info-role {
		text-align: center;
		line-height: 38px;
	}
}

/*----- TALK -----*/

.talk {
	background-color: #f5f5f5;
}

.talk-year {
	color: #555;
	width: 100%;
	float: left;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: normal;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: #efefef;
	font-family: 'Passion One', cursive;
}

.talk-description {
	width: 50%;
	height: 200px;
	float: left;
	margin-bottom: 35px;
}


.talk-description p {
	width: 95%;
}

.talk-title {
	padding: 5px 15px;
	font-size: 22px;
	line-height: 34px;
	display: inline-block;
	background-color: #dcdcdc;
	font-weight: normal;
	margin-bottom: 10px;
}

@media (max-width: 960px) {
	.talk-description {
		width: 100%;
	}

	.talk-description p {
		width: 100%;
	}

	.talk-title {
		text-align: center;
		display: block;
	}
}

/*----- JOB -----*/

.job {
	background-color: #fff;
}

.job-description {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.job-title {
	padding: 5px 15px;
	font-size: 22px;
	line-height: 34px;
	display: inline-block;
	background-color: #dcdcdc;
	font-weight: normal;
	margin-bottom: 10px;
}

.job-subtitle {
	padding: 5px 10px;
	display: inline-block;
	background-color: #f5f5f5;
}

.job-subtitle.no-bg {
	background-color: transparent;
}

.job-full {
	width: 50%;
	margin: 0 auto;
	color: #888;
	font-size: 20px;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px 0;
}

.job-full:hover {
	color: #222;
	background-color: #dcdcdc;
}

@media (max-width: 960px) {
	.job-title  {
		display: block;
	}

	.job-full {
		width: 70%;
	}
}

/*----- FOTO -----*/

.photo {
	padding: 0;
	background-color: #000;
}

.photos {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.photo-shadow {
	width: 110%;
	height: 100%;
	margin-left: -5%;
	position: absolute;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1) inset;
}

.photo-img {
	width: 100%;
	float: left;
	height: auto;
}

.photo-img-mobile {
	display: none;
}

@media (max-width: 960px) {
	.photo-img {
		display: none;
	}

	.photo-img-mobile {
		width: 100%;
		height: 340px;
		display: block;
		float: left;
		background-size: cover;
		background-position: center;
		background-image: url(../img/events-mobile.png);
	}
}

/*----- CODE -----*/

.code {
	padding: 0;
	background-color: #000;
}

.codes {
	width: 100%;
	height: 340px;
	overflow: hidden;
	background-color: red;
	background-size: cover;
	background-position: center;
	background-image: url(../img/code.jpg);
}

.code-shadow {
	width: 100%;
	height: 340px;
	color: #ddd;
	font-size: 34px;
	line-height: 40px;
	padding: 40px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Passion One', cursive;
	background-color: rgba(0, 0, 0, 0.8);
}

.code-thumbs {
	width: 800px;
	height: 140px;
	margin: 20px auto 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/skills.png);
}

@media (max-width: 960px) {
	.codes {
		height: auto;
	}

	.code-shadow {
		height: auto;
	}

	.code-thumbs {
		display: none;
	}
}

/*----- REWARD -----*/

.reward-text {
	text-align: justify;
}

.reward-text em {
	color: #aaa;
	padding: 50px 20px;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	display: block;
}

.reward-mozilla {
	width: 600px;
	height: 420px;
	float: right;
	background-size: cover;
	border-radius: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	border: 5px solid #ccc;
	background-image: url(../img/moz.jpg);
}

.reward-mozilla-name {
	width: 450px;
	height: 170px;
	float: right;
	border-radius: 5px;
	margin: -50px 60px 20px 20px;
	border: 5px solid #ccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/mozilla-name.png);
}

@media (max-width: 960px) {
	.reward-mozilla {
		width: 100%;
		height: 300px;
	}

	.reward-mozilla-name {
		width: 100%;
		height: 170px;
		margin: 0 0 20px 0;
	}

	.reward-text em {
		padding: 20px 0;
	}
}
